.body1 {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(media/images/background.png);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  }
  
  header {
    background-color: #5C3DC6;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .headText{
    font-family: "Caveat", cursive;
    font-size: 48px;
  }
  
  .nav-btn, .user-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    background-color: #5C3DC6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {
    background-color: #4B319C;
  }
  
  .nav-btn:hover .dropdown {
    display: block;
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
    width: 100vw;
    text-align: center;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
  
  }
  .main-div{
    flex: 1;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 1rem; 
    position: relative;
    top: 100px;  
  }
  
  .Matematika{
    background-image: url(media/images/bg_math.png);  
    background-size: cover;
    color: white;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    font-size: 2rem; 
    display: flex;
    padding: 2rem;
  }
  .IT{
    background-image: url(media/images/Group\ 8.png);
    background-size: cover;
    color: white;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    font-size: 2rem; 
    display: flex;
    padding: 2rem; 
    text-decoration: none;
  }
  
  .Fizika{
    background-image: url(media/images/Group\ 6.png);
    background-size: cover;
    color: white;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    font-size: 2rem; 
    display: flex;
    padding: 2rem;
  }
  .Kimyo{
    background-image: url(media/images/Group\ 9.png);
    background-size: cover;
    color: white;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    display: flex;
    padding: 2rem; 
  }
  
  .Tilshunoslik{
    background-image: url(media/images/Group\ 7.png);
    background-size: cover;
    color: white;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    display: flex;
    padding: 2rem; 
  }
  
  .Tarix{
    background-image: url(media/images/Group\ 10.png);
    background-size: cover;
    color: white;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    display: flex;
    padding: 2rem; 
  }
  
  .subject-btn {
    color: #fff;
    border: none;
    border-radius: 36px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 450px; 
    height: 250px;
    display: flex;
    flex: 1;
    font-size: 2rem;
  }
  
  .main-link{
    text-decoration: none; 
  }
  
  .subject-btn:hover {
    transform: scale(1.05);
  }


  /* kirish.html va register.html */

  .body2 {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('media/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 400px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.829);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(255, 255, 255, 0.829);
    border-radius: 10px;
  }
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .login-box .category {
    margin: 0 0 30px;
    padding: 0;
    color: #00C2FF;
    text-align: center;
  }
  
  .user-box {
    position: relative;
  }
  
  .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #00C2FF;
    outline: none;
    background: transparent;
  }
  
  .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    pointer-events: none;
    transition: .5s;
  }
  
  .user-box input:focus ~ label,
  .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #00C2FF;
    font-size: 12px;
  }
  
  .login-btn {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #00C2FF;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: left;
  }
  

  .register-btn {
    position: relative;
    display: block;
    padding: 10px 15px;
    color:#001AFF;
    font-size: 14px;
    text-decoration: none;
    text-align: right;
  }
  .category{
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .login-rigistr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
;
  
  }

  .div-los{
    margin-bottom: 5px;
  }
  
  .form-reg{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
    justify-content: center;
}

.reg-container{
  width: 720px;
  height: 500px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.829);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(255, 255, 255, 0.829);
  border-radius: 10px;
}